<!DOCTYPE html>
<html lang="es"  xmlns:th="http://www.thymeleaf.com">
<header th:fragment="header">

    <nav class="navbar navbar-light  fixed-top" style="background-color: #2E4159;">

        <div class="container-fluid" style="background-color: #2E4159; font-size: x-large;">

            <div class="logo">
                <img th:src="@{/img/logo.png}" alt="" width="60px" height="60px">

                <a class="navbar-brand" th:href="@{/}" style="color: rgb(255, 254, 254);">SchoolHouse</a>
            </div>

            <div class="dropdown opciones">

                <p class="dropdown-toggle" type="button" id="dropdownMenu2" data-bs-toggle="dropdown" aria-expanded="false">
                    Examenes
                </p>

                <ul class="dropdown-menu" aria-labelledby="dropdownMenu2">
                    <li><a class="dropdown-item" type="button" th:href="@{/examen/crear}">Crear Examen</a></li>
                    <li><a class="dropdown-item" type="button" th:href="@{/examen}">Modificar Examenes</a></li>
                    <li><a class="dropdown-item" type="button" th:href="@{/examen}">Ver Examenes</a></li>
                </ul>
            </div>

            <div class="dropdown opciones">
                <p class="dropdown-toggle" type="button" id="dropdownMenu3" data-bs-toggle="dropdown" aria-expanded="false">
                    Usuarios
                </p>
                <ul class="dropdown-menu" aria-labelledby="dropdownMenu3">
                    <li><a class="dropdown-item" type="button" th:href="@{/usuario/crear}">Crear Usuario</a></li>
                    <li><a class="dropdown-item" type="button" th:href="@{/usuario}">Modificar Usuario</a></li>
                    <li><a class="dropdown-item" type="button" th:href="@{/usuario}">Ver Usuarios</a></li>
                </ul>
            </div>


            <button class="navbar-toggler logo" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasNavbar"
                    aria-controls="offcanvasNavbar">
                <img th:src="@{/img/user.png}" alt="" height="30px" width="30px">
            </button>

            <div class="offcanvas offcanvas-end" tabindex="-1" id="offcanvasNavbar" aria-labelledby="offcanvasNavbarLabel"
                 style="background-color: #2E4159;">


                <div class="offcanvas-header">
                    <h5 class="offcanvas-title" id="offcanvasNavbarLabel">Perfil</h5>
                    <button type="button" class="btn-close text-reset" data-bs-dismiss="offcanvas" aria-label="Close"></button>
                </div>

                <div class="offcanvas-body">
                    <ul class="navbar-nav justify-content-end flex-grow-1 pe-3">

                        <div class="perfil">


                            <li class="nav-item">
                                <a class="nav-link  opciones" href="#" style="color: white;">Mis Notas</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link  opciones" href="#" style="color: white;">Mis Examenes</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link  opciones" href="#" style="color: white;">Datos Personales</a>
                            </li>

                            <li class="nav-item">
                                <form th:action="@{/logout}">
                                    <a class="nav-link text-white" href="#" onclick="this.parentNode.submit();"><i class="fas fa-sign-out-alt"></i> Cerrar sesión</a>
                                </form>
                            </li>

                        </div>

                    </ul>

                    <div>
                        <script src="https://unpkg.com/@lottiefiles/lottie-player@latest/dist/lottie-player.js"></script>
                        <lottie-player src="https://assets7.lottiefiles.com/packages/lf20_wnceyokk.json" background="transparent"
                                       speed="0.7" style="width: 100%; height: 100%;" loop autoplay></lottie-player>
                    </div>
                </div>

            </div>
        </div>

    </nav>

</header>

<footer th:fragment="footer" class="container-fluid">


    <div class="row">


        <div class="col-4 contenidoFooter">
            <div>
                <a href="Turnos.php" class="opciones">
                    <p>Cursos</p>
                </a>
                <a href="obras.php"  class="opciones">
                    <p>Fuentes de informacion</p>
                </a>
                <a href="registro.php" class="opciones">
                    <p>Certificados</p>
                </a>
                <p class="opciones">@Copyright SchoolHouse™</p>
            </div>

        </div>

        <div class="col-4 contenidoFooter">

            <div class="opciones">
                <p> Informacion de contacto: </p>
                <p>Email: SchoolHouse@gmail.com</p>
                <p>Telefono: 1166046826 / 42648893</p>
            </div>
        </div>


        <div class="col-4 contenidoFooter redesSociales">



            <div class="opciones"> <a href="https://www.facebook.com/enespanol/" target="_blank">
                <script src="https://unpkg.com/@lottiefiles/lottie-player@latest/dist/lottie-player.js"></script>
                <lottie-player src="https://assets6.lottiefiles.com/packages/lf20_7akxvutj.json" background="transparent"
                               speed="1" style="width: 60px; height: 60px;"  loop autoplay></lottie-player>
            </a>

            </div>


            <div class="opciones"> <a href="https://twitter.com/home" target="_blank">
                <script src="https://unpkg.com/@lottiefiles/lottie-player@latest/dist/lottie-player.js"></script>
                <lottie-player src="https://assets3.lottiefiles.com/packages/lf20_hdy0htc2.json" background="transparent"
                               speed="1" style="width: 60px; height: 60px;"  loop autoplay></lottie-player>
            </a>
            </div>


            <div class="opciones"> <a href="https://ar.linkedin.com/" target="_blank">
                <script src="https://unpkg.com/@lottiefiles/lottie-player@latest/dist/lottie-player.js"></script>
                <lottie-player src="https://assets3.lottiefiles.com/packages/lf20_atjsyyed.json" background="transparent"
                               speed="1" style="width: 60px; height: 60px;"  loop autoplay></lottie-player>
            </a>
            </div>



            <div class="opciones"> <a href="https://github.com/" target="_blank">
                <script src="https://unpkg.com/@lottiefiles/lottie-player@latest/dist/lottie-player.js"></script>
                <lottie-player src="https://assets10.lottiefiles.com/packages/lf20_kq6zs04j.json" background="transparent"
                               speed="1" style="width: 60px; height: 60px;" hover autoplay></lottie-player>
            </a>
            </div>



        </div>



    </div>






</footer>
</html>